
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');
/* reset */
*{
    /* reset padding and margin on all elements*/
    margin: 0;
    padding: 0;
        /* Alternative box model */
    box-sizing:border-box;

}






/* typography*/
html{
    font-size: 18px;
}
body{
    text-align: center;
    font-family: 'poppins',sans-serif;
    line-height: 1.55;
    color: rgb(60, 58, 71);
}
#main-header{
    background-color: #d4dfeb;
}
.logo{
    border-radius: 90%;
}
h1{
    font-size: 3.15rem;
    font-weight: 700;
    letter-spacing: -2px;
}
h2{
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: -2px;
    color: rgba(60, 58, 71, .8);
}
h3{
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: 2rem;
}
h3.large{
    font-size: 3.15rem;
}
.dark h3{
    color: white;
}
h4{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
p{
    margin-bottom: 1rem;
}
p.section-intro{
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.dark p.section-intro{
    color: rgb(225, 225, 225, .8);
}
p.number{
    font-size: 2.4rem;
    font-weight: 200;
    color: rgba(60, 58, 71, .5);
}
p.large{
    font-size: 1,75rem;
    font-weight: 200;
    letter-spacing: -1px;
}
p a{
    font-weight: 700;
    text-decoration: none;
    color: rgb(159, 118, 87);
}
p a:hover{
    color: rgb(60, 58,71);
}
form input,
form textarea,
form button{
    font-family:'poppins', sans-serif;
    font-size: 18px;
    line-height: 1.55;
}
/* container */
.container{
    width: 85%;
    margin: 0 auto;
}
.container-small{
    width: 60%;
    max-width: 35rem;
}
/* header */
#main-header,
section{
    padding:13rem 0;
    text-align: center;
}
#main-header h1{
    margin: 7rem 0 1rem 0;
}
#main-header h2{
    margin: 7rem ;
}
.btn{
    padding: 1.4rem 3.5rem;
    border: 1px solid rgb(159, 118, 87);
    font-weight: 700;
    border-radius: 7px;
}
.btn:hover{
    background-color: rgb(62, 185, 62);
    border-color:green ;
    color: wheat;
    width: auto;
}
#our-chairs{
    background-color: rgb(112, 179, 112);

}
section header{
    margin-bottom: 3.5rem;
}
h1 h3 + p {
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    margin-bottom:3.5rem;

}
.gallery-border{
    border: 1px solid green;
    padding: 1rem;
}
img{
    max-width: 100%;
}
.gallery div{
    text-align: start;

}
.gallery img{
    margin-bottom: 1.3rem;
    border-radius: 50%;
}

/* contact */
form{
    text-align: center;
}
.dark{
    background-color: rgb(60, 58, 71);
}
.dark label{
    color:rgba(225,225,225,.8);
}
form div{
    margin-bottom:1.75rem;
}
form label{
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    margin-bottom: .5rem;
}
form input,
form textarea{
    background-color: rgba(255, 255, 255, .1);
    border: none;
    padding: 1rem;
    width: 100%;
    color:rgb(255, 255, 255)
}
textarea{
    resize: none;
}
form input:focus,
form textarea{
        outline: none;
        background-color: rgba(255, 255, 255, .2);
}
form button{
    width: 100%;
    cursor: pointer;
} 
.dark .btn{
    border: 1px solid rgba(255, 255, 255, .8);
    background: transparent;
    color: rgb(255,255,255);
}
.dark .btn:hover{
    background-color: rgb(255,255,255);
    color:black;
}
.muted{
    color:white;
}
form button + p{
    margin: 1.75rem;
}

/* store section */
.store.large:hover{
    letter-spacing: 1px;
}
.social-icons{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}
p.large + .social-icons{
    margin-top: 7rem;
}
footer{
    padding: 5rem o;
}

footer p {
    text-align: center;
}


/* responsive */
@media screen and (max-width:600px){
    h1,
    h3.large{
        font-size: 1.3rem;
    }

    h2,
    p.large{
        font-size: 1.3rem;
    }

    h3{
        font-size: 1.3rem;
    }
    .container.small{
        width: 50%;
    }
    #main-header,
    section{
        padding: 5rem 0;
    }
    footer{
        padding:2.5rem 0;
    }
    p.large + .social-icons{
        margin-top: 3.5rem;
    }
    #main-header h1{
    margin-top: 3rem;
    }
    .social-icons{
        padding:1rem;
    }
    .btn{
        width:1px;
    }
}

@media screen and (max-width:800px) {
    .gallery{
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}